Django~=4.1.13
django-environ
djangorestframework~=3.14.0
djongo==1.3.6
django-cors-headers
google-generativeai
pillow~=10.3.0
pymongo==3.12.1
pytz
python-dotenv~=1.0.0
vertexai
urllib
cloudinary==1.40.0

pypdf2~=3.0.1
numpy~=1.26.4
requests~=2.31.0
opencv-python~=4.9.0.80